[Unit]
Requires=varnish.service
Description=Simply reloads Varnish

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl reload varnish
ExecStart=/bin/bash -c "varnishadm vcl.list | grep -v active | awk '{print $3}' | xargs varnishadm vcl.discard"
