[Unit]
Description=Generate Varnish backend director for ELB

[Service]
Type=oneshot
EnvironmentFile=/etc/defaults/varnish-elb
ExecStart=/usr/local/bin/generate_backends ${TARGET_HOSTNAME} ${DIRECTOR}
