[Unit]
Description=Generate Varnish backend director for ELB

[Service]
Type=oneshot
EnvironmentFile=/etc/default/varnish-elb
ExecStart=/usr/local/bin/generate_backends
